<%= flash[:notice] %>
<h2>сЂ┐сѓЊсЂфсЂ«ТюгжЪ│сђђTOP</h2>

<% @posts.each do |post| %>
<% if post.user.is_deleted == false %>
<div>
  <p>ТіЋуе┐сЃдсЃ╝сѓХсЃ╝ућ╗тЃЈ№╝џ<%= image_tag post.user.get_profile_image(100,100) %></p>
  <p>ТіЋуе┐УђЁ№╝џ<%= post.user.name %></p>
  <%= link_to post_path(post.id) do %>
  <p>ТіЋуе┐ТќЄ№╝џ<%= post.text %></p>
  <% end %>
  <p>­Ъњг<%= post.post_comments.count %></p>
  <p>ТіЋуе┐ТЌЦ№╝џ<%= post.created_at.strftime('%Y/%m/%d') %></p>
</div>
<% else %>  <!--жђђС╝џсЂЌсЂдсЂёсѓІта┤тљѕсЂ«тЄдуљє(is_deleted:true)-->
  <!--ТіЋуе┐УЄфСйЊсѓњУАеуц║сЂЌсЂфсЂё-->
<% end %>
<% end %>

