<h2>みんなの本音　TOP</h2>

<h3 class="side-title">カテゴリー</h3>
  <ul>
    <% @categories.each do |category| %>
      <li>
        <!--  post_path(投稿一覧ページ)のカテゴリIDには取得したカテゴリIDを渡す  -->
        <%= link_to category.name, posts_path(category_id: category.id) %>
      </li>
    <% end %>
  </ul>
  
        <!--検索窓） -->
      <div class="search_form">
          <%= form_with url: search_posts_path, local:true, method: :get do |f| %>
            <div class="input-group mb-3">
              <%= f.text_field :keyword, class: "form-control search-control mr-1", placeholder: "Search..." %>
              <%= button_tag type: "submit", class: "btn btn-light " do %>
                <i class="fas fa-search"></i>
              <% end %>
          <% end %>

<% @posts.each do |post| %>
<% if post.user.is_deleted == false %>
<div>
  <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>
  <p>投稿者：<%= post.user.name %></p>
  <p>カテゴリ名：<%= post.category.name %>
  <%= link_to post_path(post.id) do %>
  <p>投稿文：<%= post.text %></p>
  <% end %>
    <% if post.liked_by?(current_user) %>
    <p><!--  含まれている時いいねを外す  -->
      <%= link_to post_likes_path(post), method: :delete do %>
        <span style="color:red;">❤︎</span><%= post.likes.count %>
      <% end %>
    </p>
    <% else %>
    <p><!--  含まれている時いいねをする  -->
      <%= link_to post_likes_path(post), method: :post do %>
        <span>♡</span><%= post.likes.count %>
      <% end %>
    </p>
  <% end %>
  <p>💬<%= post.post_comments.count %></p>
  <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
</div>
<% else %>  <!--退会している場合の処理(is_deleted:true)-->
  <!--投稿自体を表示しない-->
<% end %>
<% end %>

