<div>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>

  <!--  ここからいいね機能  -->
  <!--  投稿画像に付けられたいいねに、ログインしているユーザーが含まれているか  -->
    <% if @post.liked_by?(current_user) %>
    <p><!--  含まれている時いいねを外す  -->
      <%= link_to post_likes_path(@post), method: :delete do %>
        <span style="color:red;">❤︎</span><%= @post.likes.count %>
      <% end %>
    </p>
    <% else %>
    <p><!--  含まれている時いいねをする  -->
      <%= link_to post_likes_path(@post), method: :post do %>
        <span>♡</span><%= @post.likes.count %>
      <% end %>
    </p>
  <% end %>

  <p>💬<%= @post.post_comments.count %></p>

    <!--  ここからブックマーク機能  -->
  <!--  投稿画像に付けられたブックマークに、ログインしているユーザーが含まれているか  -->
    <% if @post.bookmarked_by?(current_user) %>
    <p><!--  含まれている時ブックマークを外す  -->
      <%= link_to post_bookmarks_path(@post), method: :delete do %>
        <span>★︎</span>
      <% end %>
    </p>
    <% else %>
    <p><!--  含まれている時いいねをする  -->
      <%= link_to post_bookmarks_path(@post), method: :post do %>
        <span>☆</span>
      <% end %>
    </p>
  <% end %>

  <!--  レコードにファイルが添付されていれば、trueをなければfalseを返す  -->
  <%= image_tag @post.get_image(160,200), class:"post-image" if @post.image.attached? %>
  <p>投稿文：<%= @post.text %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>

</div>

<div>
  <p>コメントする</p>
  <!--  コメントはPostモデルに紐づいたpost_commentである＋ルーティングをネストしているためインスタンス変数を２つ指定 -->
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力（200文字以内）" %>
    <%= f.submit "コメントする" %>
  <% end %>
</div>


<div>
    <p><%= @post.post_comments.count %>件のコメント</p>
  <!--  @postに格納した投稿データに紐づくpost_comments(モデル)の情報を呼び出しpost_commentに格納  -->
  <% @post.post_comments.each do |post_comment| %>
  <% if post_comment.user.is_deleted == false %>
  <!--  post_commentに紐づいたuser(モデル)のプロフィール画像 -->
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
  <!--  post_commentに紐づいたuser(モデル)の名前 -->
    <p><%= post_comment.user.name %></p>
    <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
    <p><%= post_comment.comment %></p>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
</div>
  <% else %>  <!--退会している場合の処理(is_deleted:true)-->
  【退会済ユーザー】このコメントは削除されました。
<% end %>
<% end %>

