<div class="container">
  <div class="col-md-6 col-sm-10 mx-2 mx-sm-auto no-gutters text-center shadow-lg px-0 mt-5">
    <%= flash[:notice] %>
    <h5 class="text-dark bg-light py-4 mb-0">管理者ログイン</h5>
      <div class="form-body p-5">
        <div class="mx-auto text-center">
          <p>
            メールアドレスとパスワード
            </br>
            を入力してください。
          </p>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", type: "text", class: "form-control" %>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", type: "password", class: "form-control" %>
        </div>
        <%= f.submit "ログイン", class:"btn btn-block btn-info mt-5" %>
        <% end %>
      </div>
  </div>
</div>
