<div>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  <p>カテゴリ名：<%= @post.category.name %>

  <!--  レコードにファイルが添付されていれば、trueをなければfalseを返す  -->
  <%= image_tag @post.get_image(160,200), class:"post-image" if @post.image.attached? %>
  <p>投稿文：<%= @post.text %></p>
    <%= link_to "削除", admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>

</div>


<div>
    <p><%= @post.post_comments.count %>件のコメント</p>
  <!--  @postに格納した投稿データに紐づくpost_comments(モデル)の情報を呼び出しpost_commentに格納  -->
  <% @post.post_comments.each do |post_comment| %>
  <!--  post_commentに紐づいたuser(モデル)の名前 -->
    <p><%= post_comment.user.name %></p>
    <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
    <p><%= post_comment.comment %></p>
      <%= link_to "削除", admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
</div>
