<div class="container mt-5">
  <h2 class="my-4">
    <strong><%= @user.name %>さんの会員詳細</strong>
  </h2>
  <div class="px-3 p-4" style="background-color: #EEEEEE">
    <div class="row">
      <div class="col-lg-5 col-sm-12 text-center text-lg-right">
        <%= image_tag @user.get_profile_image(230,230), class:"rounded-circle" %>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-12 mt-3 p-0 h2 ml-2">
            <strong><%= @user.name %></strong>
          </div>
          <div class="col-lg-4 mb-2"><strong>｜メールアドレス</strong></div>
          <div class="col-lg-7 mb-2"><%= @user.email %></div>

          <!--プロフィール登録が行われていない場合未設定と表示する-->
          <div class="col-lg-4 mb-2"><strong>｜年齢</strong></div>
          <div class="col-lg-7 mb-2"><%= @user.age.nil? ? "未設定" : @user.age_i18n %></div>

          <div class="col-lg-4 mb-2"><strong>｜性別</strong></div>
          <div class="col-lg-7 mb-2"><%= @user.gender.nil? ? "未設定" : @user.gender_i18n %></div>

          <div class="col-lg-4 mb-2"><strong>｜現在の状況</strong></div>
          <div class="col-lg-7 mb-2"><%= @user.status.nil? ? "未設定" : @user.status_i18n %></div>

          <div class="col-lg-4 mb-2"><strong>｜自己紹介</strong></div>
          <div class="col-lg-6 mb-2"><%= @user.introduction.nil? ? "未設定" : @user.introduction %></div>

          <div class="col-lg-4 mb-2"><strong>｜会員ステータス</strong></div>
          <div class="col-lg-10 px-5 pb-2">
            <%= form_with model: @user, url: admin_user_path do |f| %>
              <%= f.radio_button :is_deleted, :false %>
              <%= f.label :is_deleted_false, "有効", class:"mr-3" %>
              <%= f.radio_button :is_deleted, :true %>
              <%= f.label :is_deleted_true, "退会 / 利用停止" %>
              <%= f.submit "会員ステータスの変更を保存" ,class: "btn btn-block btn-warning" %>
            <% end %>
          </div>
          <div class="col-lg-10 px-5 pb-2">
            <%=link_to  "投稿履歴一覧を見る", admin_users_posts_path(@user) ,class: "btn btn-block btn-outline-dark" %>
          </div>
          <div class="col-lg-10 px-5 pb-2">
            <%=link_to  "コメント履歴一覧を見る",  admin_users_post_comments_path(@user) ,class: "btn btn-block btn-outline-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>