<% if @user.is_deleted == false %> <!-- 退会していない時の処理 -->
<h2><%= @bookmark_posts.count %>件のブックマーク</h2>

<% @bookmark_posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
  <p>投稿文：<%= post.text %></p>
  <% end %>
  <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
  <p>💬<%= post.post_comments.count %></p>

    <% if post.liked_by?(current_user) %>
    <p><!--  含まれている時いいねを外す  -->
      <%= link_to post_likes_path(post), method: :delete do %>
        <span style="color:red;">❤︎</span><%= post.likes.count %>
      <% end %>
    </p>
    <% else %>
    <p><!--  含まれている時いいねをする  -->
      <%= link_to post_likes_path(post), method: :post do %>
        <span>♡</span><%= post.likes.count %>
      <% end %>
    </p>
  <% end %>

      <!--  ここからブックマーク機能  -->
  <!--  投稿画像に付けられたブックマークに、ログインしているユーザーが含まれているか  -->
    <% if post.bookmarked_by?(current_user) %>
    <p><!--  含まれている時ブックマークを外す  -->
      <%= link_to post_bookmarks_path(post), method: :delete do %>
        <span>★︎</span>
      <% end %>
    </p>
    <% else %>
    <p><!--  含まれている時いいねをする  -->
      <%= link_to post_bookmarks_path(post), method: :post do %>
        <span>☆</span>
      <% end %>
    </p>
  <% end %>

  <% if post.user == current_user %>
    <%= link_to "削除", post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>
<% end %>

<% else %>  <!--退会している場合の処理(is_deleted:true)-->
 退会済みユーザーです
<% end %>