<!-- ユーザーの詳細 -->
<% if @user.is_deleted == false %> <!-- 退会していない時の処理 -->
<h2>ユーザー詳細画面</h2>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>名前 <%= @user.name %></p>
  <% if @user.age.nil?  %>
    <p>年齢： 未設定</p>
    <% else %>
    <p>年齢<%= @user.age_i18n %></p>
    <%end %>
   <% if @user.gender.nil?  %>
   <p>性別： 未設定</p>
   <% else %>
   <p>性別<%= @user.gender_i18n %></p>
 <%end %>
 <% if @user.status.nil?  %>
 <p>現在の状況： 未設定</p>
 <% else %>
  <p>現在の状況<%= @user.status_i18n %></p>
  <%end %>
  <% if @user.introduction.nil?  %>
  <p>自己紹介： 未設定</p>
  <% else %>
  <p>自己紹介<%= @user.introduction %></p>
  <%end %>
  <!--ゲストユーザーはプロフィール編集リンクを表示しない-->
  <% if @user.name != "guestuser" %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  <% if @user == current_user %>
  <p><%= link_to "ブックマーク", bookmarks_user_path %><p>
   <% end %>

</div>
<% else %>  <!--退会している場合の処理(is_deleted:true)-->
 退会済みユーザーです
<% end %>