<!DOCTYPE html>
<html>
  <head>
    <title>e-fufu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

      <% if notice %>
        <div class="text-white" style="background-color: #BC8F8F">
          <strong>
            <%= notice %>
          </strong>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger">
          <strong>
            <%= alert %>
          </strong>
        </div>
      <% end %>

    <main class="mb-5">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
